/*******************
 =Brand/Navbar/Top=
*******************/
#brand {
  height: 30px;
  width: 150px;
  margin: -3% 0 0 0;
}

#landing-bg {
  height: 150px;
  width: 750px;
}

.top-thingy {
  background-image: url("../images/sample_background.jpg");
  repeat: none;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.top-thingy img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.transparent{
  background:rgba(0,0,0,0.5);
}

/*******************
 ===Sub-Sections===
*******************/

.movedown {
  padding-bottom: 10%;
}
